.side-bar {
  background-color: #393a44;
  min-width: 1850px;
}
.form-group{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 650px;
}
/* Base styling */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color:  #388e3c;/* Green */
  color: white;
}

/* Alternating row colors */
.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; 
}

/* Hover effect */
.table tbody tr:hover {
  background-color: #e0e0e0; 
}

/* Button-like styling for action cells */
.table .action-cell button {
  padding: 8px 16px;
  border: none;
  background-color: #2196f3; 
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.table .action-cell button:hover {
  background-color: #0d47a1; 
}

.form-control {
  border: 2px solid #d32f2f; 
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: #ff5252; 
}

.form-control::placeholder {
  color: #bdbdbd; 
}

.btn-primary {
  background-color: #4caf50; 
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* makes button Dark green on hover */
.btn-primary:hover {
  background-color: #388e3c; 
}

.btn-secondary {
  background-color: #ffa000; 
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* Changes button color when hovered over */
.btn-secondary:hover {
  background-color: #f57c00; 
}
